---
export interface Props {
	title: string;
	description?: string;
    thumbnailLink: string;
    href: string;
    publishedAt: string;
}

const { title, description, thumbnailLink, href, publishedAt} = Astro.props;
const date = new Date(publishedAt);
const year = date.getFullYear();
const month = date.getMonth() + 1;
const day = date.getDate();
const week =['Sun','Mon','Tue','Wed','Thu','Fri','Sat'][new Date().getDay()];
// 日付をYYYY/MM/DD(aaa)の形式に整形
const formatedPublishedDate = year + '/' + month + '/' + day + '(' + week + ')';
---
<li class="list-none mb-6">
    <a href={href} target="_blank" rel="noopener noreferrer" class="block bg-[#242B40] no-underline rounded-lg">
        <div class="relative w-full h-[200px] overflow-hidden inline-block rounded-t-lg">
            <img src={thumbnailLink} class="block w-full h-full object-cover object-center transition-transform duration-300 ease-in-out hover:scale-110"/>
        </div>
        <div class="p-3">
            <h3 class="m-0 mb-1.5 text-white text-sm font-bold leading-relaxed">{title}</h3>
            <p class="m-0 text-[#8D9AAE] text-xs leading-relaxed">{description}</p>
        </div>
    </a>
    <div class="mt-1 text-[#5D687A] text-xs text-right">{formatedPublishedDate}</div>
</li>
