---
import Layout from '../../layouts/Layout.astro';
import SNSCard from '../../components/SNSCard.astro';
import PageHeader from '../../components/PageHeader.astro';
import UpdateCard from '../../components/UpdateCard.astro';

import profile from '../../data/profile.json';
import snsLinkList from '../../data/snsLinkList.json';
import pickupLinkList from '../../data/pickupLinkList.json';

---
<Layout title="ishikawa-pro | Link">
	<main>
        <div class='link-background-wrapper'>
            <div class="link-overlay"></div>
            <div class='link-container'>
                <PageHeader 
                    title={profile.name}
                    subtitle={profile.jobTitle}
                    backgroundImage={profile.heroImageLink}
                ></PageHeader>
		        <ul role="list" class="link-sns-card-grid">
                    {snsLinkList.map((snsLink) => (
                        <SNSCard 
                            title={snsLink.title}
                            iconPath={snsLink.iconPath}
                            href={snsLink.href}
                        ></SNSCard>
                    ))}
                </ul>
                <div class="link-articles-link-card">
                    <li class="articles-link-card">
                        <a href="/link/articles">
                            <div class='articles-link-card-content'>
                                <span class='articles-link-card-title'>執筆・登壇</span>
                                <span class='articles-link-card-arrow'>→</span>
                            </div>
                        </a>
                    </li>
                </div>
                <h2>Pickup Links</h2>
		        <ul role="list" class="link-update-card-grid">
                    {pickupLinkList.map((l) => (
                        <UpdateCard 
                            title={l.title}
                            description={l.description}
                            href={l.href}
                            thumbnailLink={l.thumbnailLink}
                            publishedAt={l.publishedAt}
                        ></UpdateCard>
                    ))}
                </ul>
            </div>
        </div>
	</main>
</Layout>

<style>
    .link-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17,21,32,0.7);
    }
    .link-background-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/profile_image.png');
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(10px);
        background-attachment: fixed;
        background-size: cover;
    }
    .link-background-wrapper {
        position: relative;
    }
    .link-container {
        position: relative;
		margin: 0 auto;
		background-color: #111520;
		max-width: 414px;
    }
	.link-sns-card-grid {
		padding: 0;
        margin: 16px 24px 32px 24px;
	}
    .link-update-card-grid {
		padding: 0;
        margin: 16px 24px 0px 24px;
        padding-bottom: 32px;
    }
    h2 {
        letter-spacing: 1px;
        line-height: 1.5;
        margin: 16px 24px 16px 24px;
        color: #8D9AAE;
    }
    .link-articles-link-card {
        margin: 0px 24px 0px 24px;
    }
	.articles-link-card {
		list-style: none;
		background-color: #242B40;
		border-radius: 8px;
		margin-bottom: 12px;
        transition: all 0.2s ease-in-out;
	}
	.articles-link-card > a {
		display: block;
		width: 100%;
		text-decoration: none;
		color: #FFFFFF;
	}
    .articles-link-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 24px;
    }
	.articles-link-card-title {
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 1px;
	}
    .articles-link-card-arrow {
        font-size: 16px;
        color: #8D9AAE;
        transition: transform 0.2s ease-in-out;
    }
	.articles-link-card:is(:hover, :focus-within) {
		background-color: #3C4869;
	}
    .articles-link-card:is(:hover, :focus-within) .articles-link-card-arrow {
		color: #1d2232;
    }
</style>