---
import Layout from '../../layouts/Layout.astro';
import SNSCard from '../../components/SNSCard.astro';
import PageHeader from '../../components/PageHeader.astro';
import LinkCard from '../../components/LinkCard.astro';

import profile from '../../data/profile.json';
import snsLinkList from '../../data/snsLinkList.json';
import pickupLinkList from '../../data/pickupLinkList.json';

---
<Layout title="ishikawa-pro | Link">
	<main>
        <div class='relative before:content-[""] before:absolute before:inset-0 before:bg-[url("/profile_image.png")] before:bg-center before:bg-no-repeat before:blur-[10px] before:bg-fixed before:bg-cover'>
            <div class="absolute inset-0 bg-[rgba(17,21,32,0.7)]"></div>
            <div class='relative mx-auto bg-[#111520] max-w-[414px]'>
                <PageHeader 
                    title={profile.name}
                    subtitle={profile.jobTitle}
                    backgroundImage={profile.heroImageLink}
                ></PageHeader>
		        <ul role="list" class="p-0 mx-6 mb-8 mt-4">
                    {snsLinkList.map((snsLink) => (
                        <SNSCard 
                            title={snsLink.title}
                            iconPath={snsLink.iconPath}
                            href={snsLink.href}
                        ></SNSCard>
                    ))}
                </ul>
                <div class="mx-6">
                    <li class="list-none bg-[#242B40] rounded-lg mb-3 transition-all duration-200 ease-in-out hover:bg-[#3C4869] focus-within:bg-[#3C4869]">
                        <a href="/link/articles" class="block w-full text-decoration-none text-white">
                            <div class='flex justify-between items-center px-6 py-5'>
                                <span class='text-sm font-bold tracking-wider'>執筆・登壇</span>
                                <span class='text-base text-[#8D9AAE] transition-transform duration-200 ease-in-out group-hover:text-[#1d2232] group-focus-within:text-[#1d2232]'>→</span>
                            </div>
                        </a>
                    </li>
                </div>
                <h2 class="tracking-wider leading-relaxed mx-6 my-4 text-lg text-[#8D9AAE]">Pickup Links</h2>
		        <ul role="list" class="p-0 mx-6 mt-4 pb-8">
                    {pickupLinkList.map((l) => (
                        <LinkCard 
                            title={l.title}
                            description={l.description}
                            href={l.href}
                            thumbnailLink={l.thumbnailLink}
                            publishedAt={l.publishedAt}
                        ></LinkCard>
                    ))}
                </ul>
            </div>
        </div>
	</main>
</Layout>
