---
import Layout from '../../../layouts/Layout.astro';
import PageHeader from '../../../components/PageHeader.astro';
import articlesList from '../../../data/articlesList.json';
import profile from '../../../data/profile.json';
import LinkCard from '../../../components/LinkCard.astro';

---

<Layout title="ishikawa-pro | Articles">
	<main>
        <div class='relative before:content-[""] before:absolute before:inset-0 before:bg-[url("/profile_image.png")] before:bg-center before:bg-no-repeat before:blur-[10px] before:bg-fixed before:bg-cover'>
            <div class="absolute inset-0 bg-[rgba(17,21,32,0.7)]"></div>
            <div class='relative mx-auto bg-[#111520] max-w-[414px]'>
                <PageHeader 
                    title={'Articles & Talks'}
                    subtitle={'執筆・登壇のリンク集'}
                    backgroundImage={profile.heroImageLink}
                ></PageHeader>
                <ul role="list" class="p-0 mx-6 mt-4 pb-8">
                    {articlesList.map((article) => (
                        <LinkCard 
                            title={article.title}
                            description={article.description}
                            href={article.href}
                            thumbnailLink={article.thumbnailLink}
                            publishedAt={article.publishedAt}
                        ></LinkCard>
                    ))}
                </ul>
            </div>
        </div>
	</main>
</Layout>